$Alisa: #eaeaea;
$Pelagi: #a42122;
$Aconit: #70a8f3;
$Statisfet: #5b8bff;
$Umfana: #ffe96a;
$Panteon: #c8d2de;
$Ludi: #fff7e6;
$Vedmi: #322828;
$Magi: #eadcf4;
$Geroi: #f5dcae;
$Kamelia: #fcecaa;
$Muzi: #e267da;
$Lili: #e79feb;